html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.site-logo {
  font-family: "Roboto Light", sans-serif;
  color: #555252;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 0;
}
.site-logo::first-letter {
  font-family: "Roboto Black", sans-serif;
  color: #1abc9c;
  font-weight: 900;
}

.site-navigation {
  float: right;
  margin-top: 5px;
  width: 495px;
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}
.site-navigation li {
  float: left;
}

.site-navigation li:not(:last-child) {
  margin-right: 34px;
}
.site-navigation a {
  font-family: "Open Sans Bold", sans-serif;
  color: #0f0101;
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header {
  margin-bottom: 30px;
  padding-top: 38px;
}

.slider {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 2, 0.522),
      rgba(50, 50, 50, 0.522)
    ),
    url("../img/background-img.jpg");
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-left {
  font-family: "Pe-icon-7-stroke", sans-serif;
  color: #fff;
  background-color: #54a18f;
  width: 104px;
  height: 104px;
  font-size: 100px;
  line-height: 11px;
  font-weight: 400;
  position: absolute;
  top: 246px;
  left: 120px;
  /* transform: translate(-116%, 10%); */
}
.arrow-right {
  font-family: "Pe-icon-7-stroke", sans-serif;
  color: #fff;
  background-color: #1abc9c;
  width: 104px;
  height: 104px;
  font-size: 100px;
  line-height: 11px;
  font-weight: 400;
  margin-top: 8px;
  position: absolute;
  top: 246px;
  right: 120px;
}

.slider-content-title {
  font-family: "Roboto Black", sans-serif;
  color: #ffffff;
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 770px;
}
.slider p {
  font-family: "Roboto Light", sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 54px;
  font-weight: 300;
  text-transform: uppercase;
}

.new-collection {
  padding: 96px 0px 100px 0px;
  background-color: #e9f0fd;
}
.product-section-title {
  font-family: "Roboto Black", sans-serif;
  color: #515151;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 82px;
}
.product-section-title:after {
  content: "";
  display: block;
  width: 164px;
  height: 8px;
  background-color: #1abc9c;
  margin: 0px auto;
  margin-top: 28px;
}

.product-list-item {
  float: left;
  width: 255px;
  margin-right: 30px;
  list-style: none;
}
.product-list-item:hover .product-box {
  background-color: #4ec6ab;
}
.product-list-item:hover .product-price {
  background-color: #7fd9c7;
}
.product-list-item:nth-child(4n) {
  margin-right: 0;
}

.product-list-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.product-list-item .product-box,
.product-price {
  font-family: "Roboto Black", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
}
.product-box {
  float: left;
  min-width: 202px;
  min-height: 40px;
  background-color: #323232;
  padding: 4px 0 0 14px;
}
.product-box a {
  text-decoration: none;
  color: #ffffff;
}

.product-price {
  float: right;
  min-width: 53px;
  min-height: 40px;
  text-align: center;
  background-color: #8c8c8c;
  padding-top: 4px;
}

.product-list-item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 234px;
  height: 302px;
  background-color: rgba(0, 0, 0, 0.549);
  display: none;
}

.product-list-item:hover .overlay {
  display: block;
}

.button-heart {
  position: absolute;
  top: 80px;
  left: 34px;
  display: block;
  text-align: center;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
}
.pe-7s-like {
  font-family: "Pe-icon-7-stroke", sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 8px;
}
.button-heart:hover {
  background-color: #1abc9c;
}
.button-copy {
  position: absolute;
  top: 80px;
  left: 94px;
  display: block;
  text-align: center;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
}
.pe-7s-shuffle {
  font-family: "Pe-icon-7-stroke", sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 8px;
}

.button-copy:hover {
  background-color: #1abc9c;
}

.button-clock {
  position: absolute;
  top: 80px;
  right: 34px;
  display: block;
  text-align: center;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
}

.pe-7s-clock {
  font-family: "Pe-icon-7-stroke", sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 8px;
}
.button-clock:hover {
  background-color: #1abc9c;
}
.button-add-to-cart {
  position: absolute;
  top: 136px;
  left: 34px;
  background-color: #323232;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  text-align: right;
  text-transform: uppercase;
  border: 1px solid #fff;
  width: 166px;
  height: 50px;
}

.pe-7s-cart {
  position: absolute;
  right: 75%;
  font-family: "Pe-icon-7-stroke", sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 8px;
}
.icon-text {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  top: 8px;
  right: 16px;
}

.button-add-to-cart:hover {
  background-color: #1abc9c;
}

footer {
  font-family: "Open Sans", sans-serif;
  color: #fefefe;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  background-color: #323232;
}
footer p {
  width: 412px;
  margin: 0 auto;
  padding: 34px 0 34px 0;
}

.colored-text {
  color: #46bfa9;
}
